.details {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  width: var(--sg-app-width);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1rem;
}

.details .col {
  width: 50%;
  height: 100px;
  margin: auto;
}

.details .text {
  color: var(--sg-color-text);
  font-family: var(--sg-font-primary);
  font-size: 0.75rem;
  display: inline-block;
  box-sizing: border-box;
  margin: 5px 0;
  cursor: default;
  user-select: none;
}

::selection {
  color: var(--sg-color-text);
  background: var(--sg-color-background);
}
