/**
 * Auto-run on page load.
 */
.fx-fade-menu {
  animation: fxFadeMenu 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  will-change: opacity;
}

@keyframes fxFadeMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**
 * Animation triggered by JS.
 */
.fx-shake {
  left: 0;
  top: 0;
  animation: fxShake 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  will-change: left, top;
}

@keyframes fxShake {
  0% {
    left: 0;
    top: 0;
  }
  5% {
    left: -1px;
    top: -1px;
  }
  10% {
    left: -1px;
    top: 1px;
  }
  15% {
    left: 2px;
    top: -1px;
  }
  20% {
    left: 1px;
    top: 1px;
  }
  25% {
    left: 1px;
    top: 1px;
  }
  30% {
    left: -1px;
    top: 2px;
  }
  35% {
    left: 2px;
    top: 0;
  }
  40% {
    left: 1px;
    top: -1px;
  }
  45% {
    left: -1px;
    top: 1px;
  }
  50% {
    left: -1px;
    top: 0;
  }
  55% {
    left: 2px;
    top: -1px;
  }
  60% {
    left: 0;
    top: 0;
  }
  65% {
    left: 1px;
    top: -1px;
  }
  70% {
    left: -1px;
    top: 1px;
  }
  75% {
    left: 0;
    top: 2px;
  }
  80% {
    left: 0;
    top: -1px;
  }
  85% {
    left: 2px;
    top: 1px;
  }
  90% {
    left: -1px;
    top: 0;
  }
  95% {
    left: 1px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}
