.menu {
  place-items: center;
  display: flex;
  align-items: middle;
  justify-content: center;
  background: rgba(0, 100, 200, 0.1);
}

.menu .btn {
  color: var(--sg-color-btn-text);
  background: var(--sg-color-btn-background);
  background-size: 200%;
  font-family: var(--sg-font-primary);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 100%;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  width: 16rem;
  height: 3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  appearance: none;
  user-select: none;
  transition: 0.5s;
  will-change: filter;
}

.menu .btn:hover {
  filter: saturate(1.5) brightness(1.2);
}
